/*
1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
}
/*
2. Remove default margin
*/
* {
    margin: 0;
}
/*
Typographic tweaks!
3. Add accessible line-height
4. Improve text rendering
*/
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
/*
5. Improve media defaults
*/
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
/*
6. Remove built-in form typography styles
*/
input, button, textarea, select {
    font: inherit;
}
/*
7. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
/*
8. Create a root stacking context
*/
#root, #__next {
    isolation: isolate;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.game-board {
    display: flex;
    flex-flow: column;
    gap: 1rem;
    justify-content: space-around;
    align-items: center;
}

.game-icon {
    width: 25rem;
    height: 15rem;
}

.game-record {
    display: flex;
    flex-flow: row;
    gap: 3rem;
    justify-content: space-around;
    align-items: center;
    border: .1rem solid grey;
    padding: .3rem 2rem .3rem 2rem;
    border-radius: 1rem;
}


.game-icon {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.hand {
    width: 12rem;
    height: 12rem;
}

.left-hand {
    transform: rotate(0deg);
}

.right-hand {
    transform: rotate(0deg) scaleX(-1);
}

.three-hands-button {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 20rem;
}

.three-hands-button img:hover {
    cursor: pointer;
} 

.three-hands-button img {
    min-height: 100%;
}